* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}
main {
  height: 100%;
  width: 100%;
  background-image: url("/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
